@model MembersPortal.Models.LoginModel


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | JKUAT Pension Login</title>
    <link rel="icon" href="~/dist/images/logo.png" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto';
            color: black;
            font-weight: bold;
        }

        .gradient-custom {
            background-color: #e7f6fd;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .btn-primary {
            background-color: #00008B;
            color: #fff;
            border: none;
            border-radius: 50rem;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .card {
            border-radius: 1rem;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .small {
            font-size: 0.875rem;
        }

        .form-control {
            width: 100%;
            border-radius: 0.5rem;
        }

        .form-outline {
            width: 100%;
        }
    </style>
</head>
<body>
    <section class="gradient-custom d-flex justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center w-100">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5">
                <div class="card shadow-sm border-0" style="border-radius: 1rem;">
                    <div class="card-header bg-white text-dark text-center" style=" border-radius: 1rem 1rem 0 0;">
                        <img src="~/dist/images/logo.png" alt="School Logo" class="img-fluid mb-2" style="max-width: 90px;">
                        <h5 class="mb-2"><strong>JKUAT SRBS Portal</strong></h5>
                        <p style="font-size:12px"><i class="text-muted">Login to access your account</i></p>
                        <div class="alert alert-danger d-none mt-3">
                            <span>Fill all the required fields</span>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="mb-4">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-outline mb-3">
                                    @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-outline mb-3">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "form-label" })
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>

                                <button class="btn btn-primary btn-lg w-100" type="submit">Login</button>

                                <div class="d-flex justify-content-between mt-3">
                                    <a href="#" class="small">Forgot Password?</a>
                                    <a href="#" class="small">Want to join scheme?</a>
                                </div>
                            </div>

                            <div class="text-center">
                                <p class="small text-muted" style="font-size:10px">&copy; @DateTime.Now.Year JKUAT PENSION  | Powered by <a href="https://appkings.co.ke/" class="text-dark">Appkings Solutions</a></p>
                            </div>

                            if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="alert alert-danger mt-3">@ViewBag.ErrorMessage</div>
                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>


<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    @if (TempData["ErrorMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var message = '@TempData["ErrorMessage"]';
            var url = '@TempData["RedirectUrl"]';
            alert(message);
            window.location.href = url;
        };
</script>
}
@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        window.onload = function () {
            var message = '@TempData["SuccessMessage"]';
            var url = '@TempData["RedirectUrl"]';
            alert(message);
            window.location.href = url;
        };
    </script>
}
