
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <button class="close" data-close="alert"></button>
        <span> @ViewBag.Error </span>
    </div>
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        <button class="close" data-close="alert"></button>
        <span> @ViewBag.Success </span>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        <button class="close" data-close="alert"></button>
        <span>@TempData["Error"]</span>
    </div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <button class="close" data-close="alert"></button>
        <span>@TempData["Success"]</span>
    </div>
}

<form class="login-form" autocomplete="off" action="@Url.Action("login", "login")" method="post">
    <p>Login To Start Your Session.</p>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span> Fill all the required fields </span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">PF No.</label>
        <div class="input-icon">
            <i class="icon-user"></i>
            <input class="form-control placeholder-no-fix" autocomplete="off" placeholder="PF No." name="PFno" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="icon-lock"></i>
            <input class="form-control placeholder-no-fix" id="password" type="password" autocomplete="off" placeholder="Password" name="Password" />
        </div>
    </div>
    <label class="mt-checkbox mt-checkbox-outline">
        <input type="checkbox" onclick="showPassword()" /> Show Password
        <span></span>
    </label>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-6">
                <a href="@Url.Action("resetpassword", "Login")" class="btn green pull-left"> <i class="icon-question"> Reset Password</i></a>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn green pull-right"> <i class="icon-login"> Login</i></button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function showPassword() {
        var y = document.getElementById("password");
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>