@{
    Layout = null;
    var dashboardUrl = Url.Action("Dashboard", "dashboard");
    var logout = Url.Action("logout", "authentication");
    var memberBenefits = Url.Action("getmemberbenefits", "dashboard", new { ID = Session["username"].ToString() });
    var memberContribution = Url.Action("GetMemberStatament", "dashboard", new { ID = Session["username"].ToString() });
    var NextOfKin = Url.Action("nextOfKinRequest", "dashboard");
    var updateInfo = Url.Action("UpdateInformation", "dashboard");
    var pensioBankingChange = Url.Action("pensionbankingrequest", "dashboard");
    var memberClearance = Url.Action("InitiateClearance", "dashboard");
    var ClearanceStatus = Url.Action("ClearanceStatus", "dashboard");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | TELPOSTA Members Portal</title>
    <link rel="icon" href="~/dist/images/logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        footer {
            background-color: #3385d6;
            height: 50px;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        .navbar {
            background-color: #0052a3;
            color: white;
        }

        .navbar-brand img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .navbar-nav .nav-link {
            font-size: 15px;
            font-weight: bold;
            background-color: #0052a3;
        }

        .nav-link a {
            text-decoration: none;
            font-size: 15px;
            color: white;
        }

        .initiate {
            text-decoration: none;
            font-size: 15px;
            color: white;
        }

            .initiate:hover {
                text-decoration: none;
                color: white;
                background-color: #0052a3;
                font-size: 15px;
                padding: 5px;
                cursor: pointer;
            }

        .nav-link a:hover {
            text-decoration: none;
            color: white;
            background-color: #0052a3;
            font-size: 15px;
            padding: 5px;
        }

        .dropdown-menu {
            background-color: #0052a3;
        }

            .dropdown-menu a {
                font-size: 14px;
            }

        .dropdown-item i {
            margin-right: 5px;
        }

        .dropdown {
            background-color: #0052a3;
        }

            .dropdown a:hover {
                background-color: #3385d6;
            }

            .dropdown i:hover {
                transform: rotate(45deg);
            }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  border-bottom">
            <div class="container-fluid">
                <!-- Logo and Brand -->
                <a class="navbar-brand d-flex align-items-center" href="@dashboardUrl">
                    <img src="~/dist/images/logo.png" alt="Logo">
                    <span class="ms-2 text-white" style="font-family: 'Roboto' "><strong>TELPOSTA MEMBERS PORTAL</strong></span>
                </a>

                <!-- Mobile Toggle -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navigation Links -->
                <div class="collapse navbar-collapse me-5" id="navbarNav">
                    <ul class="navbar-nav">
                        @*<li class="nav-link text-white">
                                <a href="#">Elections</a>
                            </li>*@

                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="downloadsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Requests</strong>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="downloadsDropdown" style="background-color: #0052a3;">
                                <li><a class="dropdown-item text-white" href="@NextOfKin"><i class="bi bi-chevron-right"></i> Beneficiary Change</a></li>
                                @*<li><a class="dropdown-item text-white" href="#"><i class="bi bi-chevron-right"></i> Bio-Data Change</a></li>*@
                                <li><a class="dropdown-item text-white" href="@pensioBankingChange"><i class="bi bi-chevron-right"></i> Banking Details Change</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="downloadsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Downloads</strong>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="downloadsDropdown" style="background-color: #0052a3;">
                                <li><a class="dropdown-item text-white" href="@memberBenefits"><i class="bi bi-chevron-right"></i> Member Benefits Stmt</a></li>
                                <li><a class="dropdown-item text-white" href="@memberContribution"><i class="bi bi-chevron-right"></i> Member Contribution</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="downloadsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <strong>Clearance</strong>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="downloadsDropdown" style="background-color: #0052a3;">
                                <li class="nav-link initiate" id="openPop" data-key="@Session["username"].ToString()"><i class="bi bi-chevron-right"></i> Initiate Clearance</li>
                                @*<li><a class="dropdown-item text-white" href="@memberClearance"></a></li>
                                    <li><a class="dropdown-item text-white" href="#"><i class="bi bi-chevron-right"></i> Bio-Data Change</a></li>*@
                                <li><a class="dropdown-item text-white" href="@ClearanceStatus"><i class="bi bi-chevron-right"></i> Clearance Status</a></li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="navbar-nav ms-auto">



                        <!-- Logout -->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="logoutDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Logout
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="logoutDropdown" style="background-color: #0052a3;">
                                <li><a class="dropdown-item text-white" href="@logout"><i class="bi bi-power"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid mt-4 ">
        <div class=" modal fade" id="clearanceModal" tabindex="-1" aria-labelledby="clearanceModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" style="background-color: #e7f6fd">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="clearanceModalLabel"><strong>Initiate Clearance</strong></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="partialViewContainer">
                        <!-- PartialView content will be injected here -->
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @if (ViewBag.ErrorMessage != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            var message = '@ViewBag.ErrorMessage';
            var url = '@TempData["RedirectUrl"]';
            alert(message);
            window.location.href = url;
        };
        </script>
    }
    @if (ViewBag.SuccessMessage != null)
    {
        <script type="text/javascript">
        window.onload = function () {
            var message = '@ViewBag.SuccessMessage';
            var url = '@TempData["RedirectUrl"]';
            alert(message);
            window.location.href = url;
        };
        </script>
    }

    <script>
        /*$(document).on('click', '.openPop', function () {
            var key = $(this).data('key');

            $.ajax({
                url: '/Dashboard/InitiateClearance',
                type: 'GET',
                data: { key: key },
                success: function (data) {
                    $('#popupConten').html(data);
                    $('#popupModa').modal('show');
                },
                error: function () {
                    alert('Failed to load data.');
                }
            });
        });*/
        document.getElementById('openPop').addEventListener('click', function () {
            const username = this.getAttribute('data-key');

            fetch('/Dashboard/InitiateClearance?ID=' + username)
                .then(response => response.text())
                .then(html => {
                    document.getElementById('partialViewContainer').innerHTML = html;

                    const modal = new bootstrap.Modal(document.getElementById('clearanceModal'));
                    modal.show();
                })
                .catch(error => console.error('Error loading PartialView:', error));
        });





    </script>

</body>
@*<footer>
    </footer>*@
</html>
