@model MembersPortal.viewmodel.DashboardVM
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="https://fonts.googleapis.com/css2?:wght@400;700&family=Roboto:wght@300;600&display=swap" rel="stylesheet">
<style>
    h1, h6 {
        font-family: 'Roboto';
    }

    p {
        font-family: 'Roboto', sans-serif;
    }
</style>


<div class="container mt-4">
    <h6 class="mb-5"><b><i>Welcome<i>@Model.UserDetails.Title @Model.UserDetails.Firstname ,</i> </i></b></h6>

    <div class="row g-3">
        <!-- Statistics Cards -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card stats shadow-sm">
                <div class="card-body text-center">
                    <i class="bi bi-person-hearts display-6 text-danger"></i>
                    <h6 class="fw-bold mt-2">@Model.Beneficiary.Count()</h6>
                    <p class="text-muted">Number of Beneficiaries</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card stats shadow-sm">
                <div class="card-body text-center">
                    <i class="bi bi-calendar-week display-6 text-primary"></i>
                    <h6 class="fw-bold mt-2">@Model.UserDetails.DOJ</h6>
                    <p class="text-muted">Date of Joining</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card stats shadow-sm">
                <div class="card-body text-center">
                    <i class="bi bi-cash-coin display-6 text-success"></i>
                    <h6 class="fw-bold mt-2 font-monospace">@Model.Contribution.TotalContribution.ToString("N3").Replace("-", "")</h6>
                    <p class="text-muted">Total Contributions</p>
                </div>
            </div>
        </div>
        @*<div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card stats shadow-sm">
                    <div class="card-body text-center">
                        <i class="bi bi-calendar-week display-5 text-primary"></i>
                        <h6 class="fw-bold mt-2">@Model.UserDetails.DOE</h6>
                        <p class="text-muted">Date of Employment</p>
                    </div>
                </div>
            </div>*@

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card stats shadow-sm">
                <div class="card-body text-center">
                    <i class="bi-umbrella display-6 text-primary"></i>
                    @*<i class="bi-brightness-alt-low display-5 text-primary"></i>*@
                    @*<i class="bi bi-calendar-week display-5 text-primary"></i>*@
                    <h6 class="fw-bold mt-2">@Model.UserDetails.DOR</h6>
                    <p class="text-muted">Date Of Retirement</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center mt-4">
        <!-- General Information -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-sm border-0 m-1 mb-4" style="border-radius:18px;">
                <div class="text-center text-white rounded-top-4 p-3" style="background-color: #0052a3 ">
                    <h5 class="mb-0"><i class="bi bi-menu-button-wide-fill"></i> General Information</h5>
                </div>
                <div class="card-body bg-light" style="font-size:12px">
                    <div class="info-row">
                        <div class="info-label">Name:</div>
                        <div class="info-value text-primary">@Model.UserDetails.Name</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Gender:</div>
                        <div class="info-value text-primary">@Model.UserDetails.Gender</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Date of Birth:</div>
                        <div class="info-value text-primary">@Model.UserDetails.DOB</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">National ID:</div>
                        <div class="info-value text-primary">@Model.UserDetails.ID</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Status:</div>
                        <div class="info-value text-success">@Model.UserDetails.ContributionStatus</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Member Type:</div>
                        <div class="info-value text-primary">@Model.UserDetails.MemberType</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Class:</div>
                        <div class="info-value text-primary">@Model.UserDetails.Class</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Joining Date:</div>
                        <div class="info-value text-primary">@Model.UserDetails.DOJ</div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Beneficiaries Table -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-sm border-0 m-1 mb-4" style="border-radius:18px;">
                <div class="text-center text-white  p-3 rounded-top-4" style="background-color: #0052a3 ">
                    <h5 class="mb-0"><i class="bi bi-clipboard-check"></i> Beneficiaries</h5>
                </div>
                <div class="card-body bg-light " style="font-size:12px">

                    @if (Model.Beneficiary.Count() < 1)
                    {
                        <div class="alert alert-info alert-dismissible text-center">
                            <p>You Have No Beneficiaries</p>
                            <div class="up-badge badge p-2" style="background-color:black; border-radius:50rem; display: inline-block;">
                                <a href="@Url.Action("updatebeneficiary","dashboard",new {ID = @Session["username"].ToString()})"
                                   class="add-member-link">
                                    <h6 class="text-white d-inline-block m-0">Add Beneficiary</h6>
                                    <i class="bi-chevron-right text-white"></i>
                                </a>
                            </div>
                        </div>

                    }
                    else
                    {
                        <table class="table table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Relationship</th>
                                    <th>Date of Birth</th>
                                    <th>Percentage </th>
                                    <th>Action</th>
                                    <th class="hiding">LineNo</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var kin in Model.Beneficiary)
                                {
                                    <tr>
                                        <td>@kin.Name</td>
                                        <td>@kin.Rlshp</td>
                                        <td>@kin.DOB</td>
                                        <td>@kin.Percentage%</td>
                                        <td class="hide">@kin.LineNo</td>
                                        <td><a href="@Url.Action("editBeneficiaries", "dashboard", new {lineNo ="",name=@kin.Name,DOB =@kin.DOB})"><button class="btn btn-sm btn-success">Edit <i class="bi-pencil-square"></i></button></a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-center p-2">
                                        <div class="info-value text-success text-center text-dark h-badge p-2">
                                            <div class="up-badge badge p-2" style="background-color:black; border-radius:50rem">
                                                <a href="@Url.Action("updatebeneficiary","dashboard",new {ID = @Session["username"].ToString()})"><b class="p-1 text-white text-decoration-none" style="text-decoration:none"><i>Add Beneficiary </i><i class="bi-chevron-right"></i></b></a>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    }


                </div>
            </div>
        </div>

        <!-- Member Statistics FactBox -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-sm border-0 m-1 mb-4" style="border-radius:18px;">
                <div class="text-center text-white rounded-top-4 p-3" style="background-color: #0052a3 ">
                    <h5 class="mb-0"><i class="bi bi-award"></i> Member Statistics FactBox</h5>
                </div>
                <div class="card-body bg-light" style="font-size:12px">
                    <div class="info-row">
                        <div class="info-label">Employee Contribution + Int:</div>
                        <div class="info-value text-center  text-primary font-monospace">@Model.Contribution.EEContribution.ToString("N3").Replace("-", "")</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">EE Unregistered Contribution:</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.EEUnreg.ToString("N3").Replace("-", "")</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Employer Unregistered Contribution:</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.ERUnregistered.ToString("N3").Replace("-", "")</div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Employer Registered Contribution:</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.EERegistered.ToString("N3").Replace("-", "")</div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Employee Transfer In:</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.EETransferIn.ToString("N3").Replace("-", "")</div>
                    </div>

                    <div class="info-row">
                        <div class="info-label">Employer Transfer In:</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.ERTransferIn.ToString("N3").Replace("-", "")</div>
                    </div>
                    <div class="info-row">
                        <div class="info-label">Balance(LCY):</div>
                        <div class="info-value text-center text-primary font-monospace">@Model.Contribution.Balance.ToString("N3").Replace("-", "")</div>
                    </div>
                    @*<div class="info-row">
                            <div class="info-value text-success text-center text-dark h-badge p-2"> <a href="@Url.Action("memberstatement", "dashboard", new {ID = Session["username"].ToString() })"><b class="p-1"><i>Full report </i><i class="bi-chevron-right"></i></b></a></div>
                        </div>*@
                </div>

                @* <div class="card-footer bg-white text-center">
                        <h6 class="badge p-3 h6-badge">Total Contribution: <span class="text-info bg-black"><i>23,000.00</i></span></h6>
                    </div>*@
            </div>
        </div>
        @* <div class="col-lg-2 col-md-6 col-sm-12">
                <div class="card shadow-sm border-0 m-1 mb-4" style="border-radius:18px;">
                    <div class="text-center text-dark text-muted p-3">
                        <h5 class="mb-0"><i class="bi bi-link"></i> Quick Links</h5>
                    </div>
                    <div class="card-body bg-light">
                        <ul class="styled-links">
                            <li><a href="#">Get Member Benefits Statement <i class="bi bi-box-arrow-up-right"></i></a></li>
                            <li><a href="#">Get Member Contribution Statement <i class="bi bi-box-arrow-up-right"></i></a></li>
                            <li><a href="#">Employment History <i class="bi bi-box-arrow-up-right"></i></a></li>
                            <li><a href="#">Update Your Information <i class="bi bi-box-arrow-up-right"></i></a></li>
                            <li><a href="#">Get Missing Statement <i class="bi bi-box-arrow-up-right"></i></a></li>
                        </ul>


                    </div>

                </div>
            </div>*@
    </div>

</div>
<div class="container-fluid justify-content-center ">
    <div class="row">
        <div id="popupModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Employment Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="popupContent"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1" style="list-style:none">
            <ul style="list-style:none">
                <li class="openPopup text-dark" data-key="@Session["username"].ToString()">Get Employment Details <i class="bi bi-box-arrow-up-right"></i></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1">
            <ul style="list-style:none">
                <li class="text-dark"><a href="@Url.Action("memberstatement","dashboard",new {ID = @Session["username"].ToString()})">Contribution Statement <i class="bi bi-box-arrow-up-right"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1">
            <ul style="list-style:none">
                <li class="text-dark"><a href="@Url.Action("UpdateInformation","dashboard")">Update Your Information <i class="bi bi-box-arrow-up-right"></i></a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1">
            <ul style="list-style:none">
                <li class="text-dark"><a href="@Url.Action("detailedLedger","dashboard",new {ID = @Session["username"].ToString()})">Detailed Ledger<i class="bi bi-box-arrow-up-right"></i></a></li>
            </ul>
        </div>
        <!--<div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1">-->
        @*<ul style="list-style:none">
                <li class="text-dark"><a href="@Url.Action("updatebeneficiary","dashboard",new {ID = @Session["username"].ToString()})">Add Beneficiary <i class="bi bi-box-arrow-up-right"></i></a></li>
            </ul>*@
        <!--</div>-->
        <div class="col-lg-2 col-md-6 col-sm-12 styled-links m-1">
            <ul style="list-style:none">
                <li class="text-dark"><a href="@Url.Action("UpdatePensionBankingDetails","dashboard")">Update Pension Banking Info <i class="bi bi-box-arrow-up-right"></i></a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).on('click', '.openPopup', function () {
        var key = $(this).data('key');

        $.ajax({
            url: '/Dashboard/EmploymentDetails',
            type: 'GET',
            data: { key: key },
            success: function (data) {
                $('#popupContent').html(data);
                $('#popupModal').modal('show');
            },
            error: function () {
                alert('Failed to load data.');
            }
        });
    });

</script>

<style>
    .add-member-link {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }

        .add-member-link:hover {
            color: #f8f9fa;
            text-decoration: underline;
        }

    .custom-center {
        display: flex;
    }

    .row-card {
        display: flex;
        flex-direction: row;
        justify-content: center
    }

    .styled-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .styled-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .styled-links ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .styled-links li {
            margin: 5px 0;
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            color: blue;
            padding: 9px 15px;
            border: 1px solid #ddd;
            border-radius: 8px;
            transition: all 0.3s ease-in-out;
            background: #f8f9fa;
            cursor: pointer;
            text-decoration: none;
        }

            .styled-links li:hover {
                background: #007bff;
                color: white;
                border-color: #007bff;
                transform: translateY(-3px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }

            .styled-links li i {
                margin-left: auto;
                font-size: 18px;
                transition: transform 0.3s ease-in-out;
            }

            .styled-links li:hover i {
                transform: rotate(45deg);
            }

        .styled-links a {
            color: inherit;
            text-decoration: none;
            display: block;
        }

            .styled-links a:hover {
                color: white;
                text-decoration: none;
            }


    .card-body {
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    .info-row {
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 8px 0;
        border-bottom: 1px solid #ddd;
    }

        .info-row:last-child {
            border-bottom: none;
        }

    .info-label {
        font-weight: bold;
        color: #343a40;
        flex: 1;
    }

    .info-value {
        flex: 2;
        text-align: left;
    }

    .text-primary {
        color: #0d6efd;
    }

    .text-success {
        color: #28a745;
    }

    .text-muted {
        font-size: 12px;
    }

    body {
        background-color: #f8f9fa;
        font-family: 'Futura', sans-serif;
    }

    li {
        font-family: 'futura', sans-serif;
    }

    .h6-badge {
        background-color: green;
        font-size: 14px;
        border-radius: 50px;
    }

    .h-badge {
        color: black;
        font-size: 14px;
        border-radius: 50px;
    }

    .text-info {
        font-size: 14px
    }

    .muted-badge {
        background-color: lightcyan;
        font-size: 14px;
        color: white;
        border-radius: 2px;
    }

    .stats {
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
        transition: transform 0.3s;
    }

        .stats:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        }

    .card-header {
        border-radius: 10px 10px 0 0;
    }

    .card-body {
        line-height: 1.6;
        font-size: 16px;
    }

    .card-footer {
        border-radius: 0 0 10px 10px;
    }

    .table th {
        font-weight: bold;
    }

    .table-hover tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>
